<header>
    <div>
        <h1>Welcome</h1>
    </div>
    <div class="button">
        <a href="/cart"><img src="/images/cart_icon.png" alt="cart link"></a>
        <div id="cartIconNum">0</div>
    </div>
    <div class="button"><a href=""><img src="/images/search_icon.png" alt="search link"></a></div>
</header>