<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car shop</title>
    <meta name="author" content="Antonio Zulim">
    <meta name="description" content="Car web shop">
    <link rel="stylesheet" href="/styles/cartLayout.css">
    <link rel="stylesheet" href="/styles/theme.css">
</head>
<body>
    <div id="logo"><a href="/"><img src="/images/logo.png" alt="logo"></a></div>

    <%- include("./partials/header") %>

    <main>
        <h2>Cart</h2>
        <table>
            <tbody>
                <!--Dynamicly created by cart.js-->
            </tbody>
        </table>
        <button id="emptyAllBtn">Empty whole cart</button>
        <p id="emptyCartMessage">Cart is empty</p>
    </main>

    <template id="itemTempl">
        <tr>
            <td>Proizvod 1</td>
            <td>
                <div class="removeItem">-</div>
                <div class="quantity">0</div>
                <div class="addItem">+</div>
            </td>
        </tr>
    </template>
    
    <template id="headerTempl">
        <tr id="tableHead">
            <th>PRODUCT NAME</th>
            <th>QUANTITY</th>
        </tr>
    </template>
    
    <%- include("./partials/footer") %>

    <script src="/scripts/cart.js"></script>
</body>
</html>