<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car shop</title>
    <meta name="author" content="Antonio Zulim">
    <meta name="description" content="Car web shop">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/theme.css">
</head>
<body>
    <div id="logo"><a href="/"><img src="/images/logo.png" alt="logo"></a></div>

    <%- include("./partials/header") %>

    <nav>
        <div>
            <ul id="categoriesContainer">
                <!--Dynamically created by shop.js-->
            </ul>
            <hr/>
            <ul>
                <li>Kontakt</li>
                <li>Newsletter</li>
                <li>Pretplati se</li>
            </ul>
        </div>
    </nav>

    <section id="homeSection">
        <img src="/images/homepage.jpg">
        <div>Carlet - Place for the best cars</div>
    </section>

    <main id="itemsContainer">
        <!--Dynamically created by shop.js-->
    </main>

    <%- include("./partials/footer") %>

    <template>
        <div class="item">
            <div class="itemImage">
                <div class="addCartIcon">
                    <img src="/images/add_to_cart.png">
                </div>
            </div>
            <h3>Smart ForTwo</h3>
            <div class="cartNum">0</div>
        </div>
    </template>

    <script src="/scripts/shop.js"></script>
</body>
</html>