:root {
    --background-color: #ECFEE8;
    --primary-color: #7fafc7;
    --secondary-color: #C2EFEB;
    --hover-color: #2D3047;
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

body {
    font-family: Quicksand;
    background-color: var(--background-color);
}

header, #logo{
    background-color: var(--primary-color);
}
.button:hover {
    background-color: var(--hover-color);
}
.button>*:hover{
    filter: invert(1);
}

h1 {
    font-size: 1.5rem;
}

#homeSection>div {
    color: white;
    font-size: 4vw ;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    backdrop-filter: grayscale(90%) blur(1px);
}

nav{
    background-color: var(--secondary-color);
}
nav ul {
    text-wrap-style: wrap;
    text-align: center;
}
nav li:hover {
    background-color: var(--hover-color);
    color: white;
    cursor: pointer;
}

.item {
    background-color: var(--secondary-color);
    border-radius: 5px;
}
.item:hover {
    transition-duration: 0.2s;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    transform: scale(1.005);
    cursor: pointer;
}
.itemImage {
    border-radius: 5px;
}
.addCartIcon {
    transition-duration: 0.2s;
    backdrop-filter: blur(5px);
    opacity: 0%;
    border-radius: 5px;
}
.addCartIcon>img {
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 0 5px 5px var(--secondary-color);
}
.item:hover .addCartIcon{
    transition-duration: 0.2s;
    opacity: 100%;
}

.cartNum, #cartIconNum{
    background-color: var(--background-color);
    border-radius: 50%;
    font-size: larger;
}
.item:hover .cartNum {
    transform: scale(0.995);
}

.addItem, .removeItem {
    background-color: var(--secondary-color);
    border-radius: 50%;
    cursor: pointer;
}

footer {
    background-color: var(--primary-color);
}